@font-face{
    font-family: 'roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}
@font-face{
    font-family: 'shrikhand';
    src: url(Shrikhand-Regular.otf);
}
$font-body: 'roboto';
$font-title:'shrikhand';